<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering removeServerHeader="true">
                <fileExtensions>
                    <add fileExtension=".inc" allowed="false" />
                </fileExtensions>
                <requestLimits maxAllowedContentLength="50000000">
                    <headerLimits>
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
