<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering removeServerHeader="false">
                <fileExtensions>
                    <add fileExtension=".inc" allowed="false" />
                </fileExtensions>
                <requestLimits maxAllowedContentLength="50000000">
                    <headerLimits>
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>
