.Btn {
	font-family: inherit;
	font-size  : 1em;
	cursor     : pointer;
}

.Btn:disabled {
	cursor: not-allowed;
}

.SbmBtn {
	margin     : auto;
	width      : max-content;
	font-family: inherit;
	font-size  : 1em;
	cursor     : pointer;
	padding    : 4px 8px;
}

.SbmBtn:hover:enabled {
	background-color: #4682B4;
	color: #FFFFFF;
}

.SbmBtn:disabled {
	cursor: not-allowed;
}

.DelBtn {
	margin     : auto 2px;
	width      : max-content;
	font-family: inherit;
	font-size  : 1em;
	cursor     : pointer;
	padding    : 4px 8px;
}

.DelBtn:disabled {
	cursor : not-allowed;
}

.DelBtn:hover:enabled {
	background-color: #FF0000;
	color           : #FFFFFF;
}

.RestoreBtn {
	margin     : auto;
	width      : max-content;
	font-family: inherit;
	font-size  : 1em;
	cursor     : pointer;
	padding    : 4px 8px;
}

.RestoreBtn:disabled {
	cursor : not-allowed;
}

.RestoreBtn:hover:enabled {
	background-color: #008000;
	color           : #FFFFFF;
}

.LoginBtn {
	font-family: inherit;
	font-size: 1em;
	width: 5em;
	margin-top: 10px;
	padding: 2px 0px;
	cursor: pointer;
}

.LoginBtn:hover:enabled {
	background-color: #4682B4;
	color           : #FFFFFF;
}

.FindBtn {
	margin: auto;
	cursor: pointer;
}

.FindBtn:disabled {
	cursor: not-allowed;
}

.IconBtn {
	font-family: inherit;
	font-size  : 0.8em;
	width: 4em;
	margin: auto;
	cursor: pointer;
}

.IconBtn:disabled {
	cursor: not-allowed;
}

.AddBtn {
	font-family: inherit;
	font-size  : inherit;
	/*padding: 2px 8px; */
	cursor: pointer;
}

.AddBtn:disabled {
	cursor: not-allowed;
}

.RemoveBtn {
	font-family: inherit;
	cursor: pointer;
}

.RemoveBtn:hover {
	color: #e81123;
}

.RemoveBtn:disabled {
	cursor: not-allowed;
}
